body {

    font-family: 'PT Mono', monospace;
    max-width: 100%;
    height: auto;
    background-color: rgba(247, 244, 244, 0.473) !important;
   
   
    
   
}

/* Variabile */

:root {
     --main:  #dc4242;
     --second: #FCDDB0;
     --third: #FFFAD7;


}
    

 


.h1-custum {
   
 
    
    font-family: 'Amatic SC', cursive;
    color: var(--main);
    font-size: 100px !important;
    letter-spacing: 1.8rem !important;
    
    
    
        

}

@media (min-width: 700px) { 
    .h1-custum {
        font-size: 150px !important;
        position: absolute;
        top: 300px;
        right: 20px;
    }

    h2 {
        margin-right: 240px;
       
    }

    .h2-team-custum {
        margin-left: 75px;
        
    }


    .circle::after {
        
        top: 70px !important;
        left: 100px !important;
         
        
    }  

    .h2-custum {
        margin-left: 80px !important;   
        margin-bottom: 50px;
    }


    .img-logo-custum {
          
        width: 150px !important;
        height: 50px !important;
        
    
       
    }


    .main-img {
   
       
        height: 110vh !important;
    }


    .img-mountain-custum {
        position: absolute;
        top: -60px !important;
    }


    .ul-footer {

        flex-direction: column;
        font-size: 0.8em;
        align-items: flex-start !important;
    }

    .h3-footer {
        justify-content: flex-start !important;
        text-align: start !important;
    }

    .sec-fot-row{
        text-align: start !important;
    }


    .h3-footer {
        font-size: 1.5em !important;
        margin-top: 85px;
    }
    
         
       
    }
    
    .dad-img-logo {
       
        width: 100% !important;
        
        
    }

   

    .div-nav {
        margin-top: 50px;
    }

    .img-sec5 {
        width: 250px !important;
        height: 250px !important;
    }
    
 



.h2-custum {
     font-size: 60px !important;
    font-family: 'Amatic SC', cursive;
    color: var(--main);
    margin-left: 20px;  
    text-align: start;

    
}


    

h3 {
    color: var(--main); 
}





.spam-p {
    color: var(--main);
    font-size: 2rem;
    top: 5px;
    position: relative;
 
}


/* NAVBAR */
.sec-img-nav {

    width: 100px;
    height: 100px;
    position: relative;
    right: -300px
        
   
   
}

.ul-nav-custum {
    background-color: rgba(247, 244, 244, 0.473);
}



 /* Imagen Logo */


.div-icons-custum {
    
    border-bottom: solid 3px black;
    position: relative;     
       
    
}

.circle::after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(225, 225, 225); 
    border: solid 4px rgb(27, 26, 26);
    position: absolute;
    top: 10px;
    left: 29px;
     
    
}   



  @media screen and (max-width: 700px) {   


    h1 {  
        position: absolute;
        top: 250px
    }

    .img-mountain-custum {
        position: absolute;
        bottom: 224px;
        
    }



    .timeline2-custum {
        top: 100px;
    }

   

    .img-sec5 {
        display: none !important;
    }



    .icons-custum  { 
      display: flex;
      flex-direction: column;
      align-items: center;
  
          
  
      }
      .div-icons-custum {
          width: 150px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          margin-top: 25px;
          
  
      }
  
      .circle::after {
          top: 94%;
          left: 45%;
      }

      .h2-team-custum {
        margin-top: 100px;
        font-size: 60px !important;
        font-family: 'Amatic SC', cursive;
        color: var(--main);
        margin-left: 20px;
      }
      
  }

  .h2-team-custum {
        margin-top: 100px;
        font-size: 60px !important;
        font-family: 'Amatic SC', cursive;
        color: var(--main);
    


  }



  /* Section 2 */

.section-2-custum {
    background-color: aqua;
    width: 300px;
}
 
.button-custum {
    background-color: var(--main);
    color: #fcdeb09c;
    
}

/* section3 */

.section3-custum {

    margin-top: 100px !important; 
   
  }

  /* section 4 */

  .sec-4-p {
    font-size: 12px !important;
  }


  

/* Timeline 2 */


.timeline2-custum {
    border-left: 2px solid var(--main);
    position: relative;
}

.timeline2-custum::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 2px solid var(--main);
    background-color: var(--third);
    position: absolute;
    left: -10.5px;
    top: -5px;
 
    

}





.logo {
    width: 10px;
    width: 100px;
    
}   



/* section5 */

.img-custum {
    border: 2px solid var(--main) !important;   
}

/* backgrounds */
  

.main-img {
   
    background: linear-gradient(to top, rgba(150, 150, 152, 0.099), rgb(250, 250, 250)), url(./img/switzerland-862870_1920.jpg)!important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important; 
    height: 70vh;
}

@media (min-width: 768px) {
    .img-mountain-custum{
    
   
        background: url(./img/mountains.png)!important;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important; 
        width: auto px ;
        height: 571px!important;  
        margin-top: 336px;
    
    }

}


    .img-footer {

    background: url(./img/other.png)!important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important; 
    width: 100% !important;
    height: 300px !important;

   
    }

.row-custum-footer {
    background-color: #8a0d0d;
}


li {
    list-style: none;
}



    
    

    





